/* General syles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px 0;
  max-width: 900px;
}

.resume__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}

/* Contact info styles */

.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.contact-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info__block--center {
  justify-content: center;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  /* width: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}

/* Intro and skills styles */

.intro {
    display: flex;
    justify-content: start;
  }
  
  .intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
  }
  
  .intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
  }
  
  .intro__icon path {
    fill: var(--text-decoration-color);
  }
  
  .intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
  }
  
  .skills__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  .skills__text {
    color: var(--secondary-text-color);
    text-align: justify;
  }

  /* Experience and additional info styles */

  .experiences {
    flex: 1 1 60%;
    margin-right: 50px;
  }
  
  .experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .experiences__company-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .experiences__company-header-name {
    color: var(--primary-text-color);
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .experiences__company-project {
    margin-left: 15px;
    margin-bottom: 25px;
  }
  
  .experiences__company-project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .experiences__company-project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
  
  .experiences__company-project-responsibilities {
    color: var(--secondary-text-color);
    padding-left: 20px;
  }
  
  .additional-info {
    flex: 1 1 40%;
  }
  
  .additional-info__education {
    margin-bottom: 20px;
  }
  
  .additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
  }
  
  .additional-info__education-university-name {
    color: var(--secondary-text-color);
  }
  
  .additional-info__languages {
    margin-bottom: 20px;
  }
  
  .additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .additional-info__languages-item {
    color: var(--secondary-text-color);
  }

  .skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill__container-secondary {
    display: grid;
    grid-template-columns: 1fr;
  }
  .skill__block {
    padding: 5px;
    font-size: 18x;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.skill__block-header {
  margin-bottom: 20px;
}
.skill__block-list {
  list-style-image: url(./assets/checked.png);
  list-style-position:outside;
}
.skill__block-list li {
  margin-bottom: 8px;
}
.skill__block-list li::marker {
}
.block__header{
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.portfolio {
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio__item {
  flex-basis: 45%;
  flex-grow: 1;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio__item:hover{
}
.portfolio__item-image {
  height: 224px;
  margin-bottom: 10px;

  
}
.portfolio__item-header {
  margin-bottom:  10px;
}
.portfolio__item-image img {
  width: 100%;
  height: 100%;
}

.portfolio__item-stack {
  padding-right: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.links-button {
  color: rgb(73, 112, 185);
  cursor: pointer;
  margin: 20px 0px 10px 0px;
  text-align: center;
}
.links-button:hover{
  text-decoration: underline;
  font-weight:550;
}

.gh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.portfolio__gh-link {
 margin-bottom: 10px;
}

.links-container {
  position: absolute;
  padding: 8px;
  top: 50px;
  display: none;
  transition: 0.3s;
  background-color: #f0a93e;
  border-radius: 10px;
  z-index:10 ;
}
.links-active {
 
  display: block;
}
.gh-text {
  color: whitesmoke;
  font-size: 17px;
}
.portfolio__gh-link p {
 display: flex;
 align-items: center;
}
/* Skill progress */
.skill-progress{
display: flex;
flex-wrap: wrap;
gap: 40px;
margin-top: 50px;
justify-content: center;
/* height: 400px; */
}

.card{
  position: relative;
  width: 200px;
  height: 200px;
}
.card .rating {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .rating .block{
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #181820;
  left: 50%;
  transform-origin: 50% 100px;
  opacity: 0;
  /* transform:rotate(25deg) */
  animation: animate 0.1s linear forwards;
}
.skills__details {
  margin-top: 70px;
}
@keyframes animate {
  to {
    opacity:  1;
  }
}
/* .card .rating .block:nth-child(-n+91){
  background: rgb(255, 25, 25);
  box-shadow: 0 0 15px rgb(255, 92, 92), 0 0 30px red;
} */

.block_html:nth-child(-n+89){
  background: rgb(255, 25, 25) !important;
  box-shadow: 0 0 15px rgb(255, 92, 92), 0 0 30px red;
}

.block_js:nth-child(-n+71){
  background: rgb(255, 153, 0) !important;
  box-shadow: 0 0 15px rgb(250, 115, 37), 0 0 30px rgb(255, 166, 33);
}

.block_ts:nth-child(-n+69){
  background: rgb(0, 17, 255) !important;
  box-shadow: 0 0 20px rgb(30, 117, 247), 0 0 110px rgb(73, 61, 238);
}

.block_re:nth-child(-n+81){
  background: rgb(13, 217, 253) !important;
  box-shadow: 0 0 20px rgb(7, 196, 243), 0 0 110px rgb(99, 159, 250);
}

.block_red:nth-child(-n+71){
  background: rgb(168, 0, 173) !important;
  box-shadow: 0 0 20px rgb(176, 0, 182), 0 0 110px rgb(177, 4, 162);
}


.block_node:nth-child(-n+61){
  background: rgb(0, 175, 88) !important;
  box-shadow: 0 0 20px rgb(0, 168, 98), 0 0 110px rgb(3, 187, 33)
}
.card .rating h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.card .rating h2 span {
  font-size: 2rem;
}
.card .rating h2 sup {
  font-size: 1.2rem;
}
  @media (max-width:640px) {
    .contact-info__item {
      justify-content: center;
    }
    .skills__container {
      display: grid;
      grid-template-columns:1fr;
    }

    .skill__block_1 {
      margin-bottom: 40px;
    }
    .skill__block-list li {
      width: 100%;
    }
    .portfolio__item {
      flex-basis: 80%;
    }
    .portfolio__item-image {
      height: auto;
    }
    .links-container{
      background-color: #f0a93e;
    }
  }